<div fxLayout="column">
  <div id="starred-stations">
    <app-starred-stations [countries]="countries"
                          [reloadData]="starredStationsReload"
                          (onSelectedCountry)="onSelectedCountry($event)"
                          (onSelectedStation)="onSelectedStation($event)"></app-starred-stations>
  </div>

  <div fxLayout="column">
    <div>
      <div fxLayout="column">
        <app-countries  [country]="selectedCountry"
                        (onSelectedCountry)="onSelectedCountry($event)"></app-countries>

        <mat-form-field id="stations" *ngIf="selectedCountry">
          <mat-label>Select a station</mat-label>
          <mat-select [(value)]="selectedStation" (selectionChange)="stationChanged()">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let station of selectedCountry.stations" [value]="station">{{station.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <mat-card id="station" *ngIf="selectedCountry && selectedStation" fxLayout="column">
        <mat-card-header>
          <mat-card-title>
            <button mat-icon-button (click)="toggleStarStation(selectedStation)">
              <mat-icon *ngIf="!selectedStation.starred">star_border</mat-icon>
              <mat-icon *ngIf="selectedStation.starred">star</mat-icon>
            </button>
            <a href="{{selectedStation.siteUrl}}" target="blank">{{selectedStation.name}}</a>    
          </mat-card-title>
          <mat-card-subtitle>{{selectedCountry.name}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div>{{selectedStation.description}}</div>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" [ngClass]="{hidden: !selectedCountry && !selectedStation}">
      <div fxLayout="row">
        <button mat-icon-button (click)="play()" *ngIf="!isPlaying">
          <mat-icon>play_arrow</mat-icon>
        </button>
        <button mat-icon-button (click)="pause()" *ngIf="isPlaying">
          <mat-icon>pause</mat-icon>
        </button>
        <button mat-icon-button (click)="volumeDown()">
          <mat-icon>volume_down</mat-icon>
        </button>
        <button mat-icon-button (click)="volumeUp()">
          <mat-icon>volume_up</mat-icon>
        </button>
      </div>
      <app-timer [time]="timePlaying"></app-timer>
      <div id="vg-audioplayer">
        <audio id="player"></audio>
      </div>
    </div>
  </div>
</div>